comment-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 20px auto;
  grid-column: 1/3;
  padding: 20px;
  height: 670px;
  overflow: hidden;

  justify-content: space-evenly;
  @media (max-width: 1550px) {
    grid-column: 1/3;
  }
  @media (max-width: 1190px) {
    grid-column: 1/2;
  }
}

comment-section head-line {
  font-size: 57px;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

comment-section coments {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 20px;
  justify-content: flex-start;
  height: 60%;
  /*  transition: transform 0.3s ease;*/
}

.comment {
  width: 412px;
  height: 300px;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  flex: 1 0 0;
  min-width: 412px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;

  @media (max-width: 1550px) {
    min-width: 412px;
    height: 300px;
  }
  @media (max-width: 1190px) {
    min-width: 300px;
    height: 330px;
  }
}

.comment content {
  margin-bottom: 10px;
  text-align: justify;
}

.comment user-card {
  display: flex;
  align-items: center;
}

.comment user-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.comment user-card name {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.comment user-card detail {
  font-size: 0.9em;
  color: #777;
}

.comment:hover {
  transform: scale(1.08);
}
.c:hover {
  animation-play-state: paused;
}
@keyframes move {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-581px);
  }
  100% {
    transform: translateX(-0px);
  }
}
.c {
  display: flex;
  flex-direction: row;
  gap: 20px;
  animation: move 35s linear 3s infinite;
}
